In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [88]:
df = pd.read_csv (r'BSDS_November.csv')

In [89]:
df

,gender,Partner,PhoneService,InternetService,OnlineSecurity,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,No,DSL,Yes,Two year,Mailed check,39.70,692.35,No
1,Male,No,Yes,DSL,No,Month-to-month,Bank transfer (automatic),46.05,80.35,Yes
2,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,91.80,5960.5,No
3,Male,Yes,Yes,No,No internet service,One year,Credit card (automatic),19.80,576.65,No
4,Male,Yes,Yes,Fiber optic,Yes,One year,Bank transfer (automatic),89.45,5692.65,No
...,...,...,...,...,...,...,...,...,...,...
5418,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,95.00,95,Yes
5419,Female,Yes,Yes,DSL,Yes,Two year,Credit card (automatic),91.10,2198.3,No
5420,Male,Yes,Yes,No,No internet service,Month-to-month,Electronic check,21.15,306.05,No
5421,Male,No,Yes,Fiber optic,No,Month-to-month,Electronic check,99.45,1200.15,Yes
5422,Male,No,Yes,No,No internet service,One year,Credit card (automatic),19.80,457.3,No

In [90]:
type(df['Partner'])

pandas.core.series.Series

In [91]:
type(df)

pandas.core.frame.DataFrame

In [92]:
df['Partner'][1]

'No'

In [93]:
print(df.groupby('Partner')['Churn'].value_counts())

Partner  Churn
No       No       1875
         Yes       915
Yes      No       2116
         Yes       517
Name: Churn, dtype: int64

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5423 entries, 0 to 5422
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           5423 non-null   object
 1   Partner          5423 non-null   object
 2   PhoneService     5423 non-null   object
 3   InternetService  5423 non-null   object
 4   OnlineSecurity   5423 non-null   object
 5   Contract         5423 non-null   object
 6   PaymentMethod    5423 non-null   object
 7   MonthlyCharges   5423 non-null   float64
 8   TotalCharges     5423 non-null   object
 9   Churn            5423 non-null   object
dtypes: float64(1), object(9)
memory usage: 423.8+ KB

In [95]:
df

,gender,Partner,PhoneService,InternetService,OnlineSecurity,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,No,DSL,Yes,Two year,Mailed check,39.70,692.35,No
1,Male,No,Yes,DSL,No,Month-to-month,Bank transfer (automatic),46.05,80.35,Yes
2,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,91.80,5960.5,No
3,Male,Yes,Yes,No,No internet service,One year,Credit card (automatic),19.80,576.65,No
4,Male,Yes,Yes,Fiber optic,Yes,One year,Bank transfer (automatic),89.45,5692.65,No
...,...,...,...,...,...,...,...,...,...,...
5418,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,95.00,95,Yes
5419,Female,Yes,Yes,DSL,Yes,Two year,Credit card (automatic),91.10,2198.3,No
5420,Male,Yes,Yes,No,No internet service,Month-to-month,Electronic check,21.15,306.05,No
5421,Male,No,Yes,Fiber optic,No,Month-to-month,Electronic check,99.45,1200.15,Yes
5422,Male,No,Yes,No,No internet service,One year,Credit card (automatic),19.80,457.3,No

In [96]:
df.loc[df.Churn=='No','Churn'] = 0 
df.loc[df.Churn=='Yes','Churn'] = 1

In [98]:
df['Churn']

0       0
1       1
2       0
3       0
4       0
       ..
5418    1
5419    0
5420    0
5421    1
5422    0
Name: Churn, Length: 5423, dtype: object

In [99]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4         Male
         ...
5418      Male
5419    Female
5420      Male
5421      Male
5422      Male
Name: gender, Length: 5423, dtype: object

In [110]:
df.loc[1]

gender                                  Male
Partner                                   No
PhoneService                             Yes
InternetService                          DSL
OnlineSecurity                            No
Contract                      Month-to-month
PaymentMethod      Bank transfer (automatic)
MonthlyCharges                         46.05
TotalCharges                           80.35
Churn                                      1
Name: 1, dtype: object

In [114]:
prior = df.groupby('Churn').size().div(len(df)) 
prior

Churn
0    0.73594
1    0.26406
dtype: float64

In [100]:
n_samples=df.Churn.count()
l=[]
churn=0
for i in range(n_samples):
    if df['Churn'][i]==1:
        l+=[df['gender'][i]]
        churn+=1
male=0
female=0
for i in l:
    if i==1:
        male+=1
    else:
        female+=1
perc=np.array([male/churn,female/churn])
print(perc[0])
print(perc[1])

0.0
1.0

In [116]:
data=df
data

,gender,Partner,PhoneService,InternetService,OnlineSecurity,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,No,DSL,Yes,Two year,Mailed check,39.70,692.35,0
1,Male,No,Yes,DSL,No,Month-to-month,Bank transfer (automatic),46.05,80.35,1
2,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,91.80,5960.5,0
3,Male,Yes,Yes,No,No internet service,One year,Credit card (automatic),19.80,576.65,0
4,Male,Yes,Yes,Fiber optic,Yes,One year,Bank transfer (automatic),89.45,5692.65,0
...,...,...,...,...,...,...,...,...,...,...
5418,Male,Yes,Yes,Fiber optic,Yes,Month-to-month,Electronic check,95.00,95,1
5419,Female,Yes,Yes,DSL,Yes,Two year,Credit card (automatic),91.10,2198.3,0
5420,Male,Yes,Yes,No,No internet service,Month-to-month,Electronic check,21.15,306.05,0
5421,Male,No,Yes,Fiber optic,No,Month-to-month,Electronic check,99.45,1200.15,1
5422,Male,No,Yes,No,No internet service,One year,Credit card (automatic),19.80,457.3,0

In [118]:
likelihood = {}
likelihood['gender'] = data.groupby(['Churn', 'gender']).size().div(len(data)).div(prior)
likelihood['Partner'] = data.groupby(['Churn', 'Partner']).size().div(len(data)).div(prior)
likelihood['PhoneService'] = data.groupby(['Churn', 'PhoneService']).size().div(len(data)).div(prior)
likelihood['InternetService'] = data.groupby(['Churn', 'InternetService']).size().div(len(data)).div(prior)
likelihood['OnlineSecurity'] = data.groupby(['Churn', 'OnlineSecurity']).size().div(len(data)).div(prior)
likelihood['Contract'] = data.groupby(['Churn', 'Contract']).size().div(len(data)).div(prior)
likelihood['PaymentMethod'] = data.groupby(['Churn', 'PaymentMethod']).size().div(len(data)).div(prior)

In [119]:
likelihood

{'gender': Churn  gender
 0      Female    0.483839
        Male      0.516161
 1      Female    0.494413
        Male      0.505587
 dtype: float64,
 'Partner': Churn  Partner
 0      No         0.469807
        Yes        0.530193
 1      No         0.638966
        Yes        0.361034
 dtype: float64,
 'PhoneService': Churn  PhoneService
 0      No              0.098973
        Yes             0.901027
 1      No              0.092877
        Yes             0.907123
 dtype: float64,
 'InternetService': Churn  InternetService
 0      DSL                0.377850
        Fiber optic        0.349787
        No                 0.272363
 1      DSL                0.249302
        Fiber optic        0.687849
        No                 0.062849
 dtype: float64,
 'OnlineSecurity': Churn  OnlineSecurity
 0      No                     0.395139
        No internet service    0.272363
        Yes                    0.332498
 1      No                     0.780726
        No internet service    0.062849
        Yes                    0.156425
 dtype: float64,
 'Contract': Churn  Contract
 0      Month-to-month    0.427462
        One year          0.257329
        Two year          0.315209
 1      Month-to-month    0.877793
        One year          0.097067
        Two year          0.025140
 dtype: float64,
 'PaymentMethod': Churn  PaymentMethod
 0      Bank transfer (automatic)    0.247306
        Credit card (automatic)      0.249562
        Electronic check             0.251566
        Mailed check                 0.251566
 1      Bank transfer (automatic)    0.145950
        Credit card (automatic)      0.120810
        Electronic check             0.569134
        Mailed check                 0.164106
 dtype: float64}

In [124]:
from sklearn.preprocessing import LabelEncoder
encoded_data = data.apply(LabelEncoder().fit_transform)

In [123]:
from sklearn.naive_bayes import MultinomialNB
import numpy as np
clf = MultinomialNB()
clf.fit(encoded_data.drop(['Churn'], axis=1), encoded_data['Churn'])

# {"Age":'<=30', "Income":"medium", "Student":'yes' , "Credit_Rating":'fair'}
# The data is encoded as [1,2,1,1]
X = np.array([1,2,1,1,1,1,1,1,1])
print (clf._joint_log_likelihood(X.reshape(1,-1)))
print ("Prediction of : ", clf.predict(X.reshape(1,-1)))

[[-68.48461566 -73.41285454]]
Prediction of :  [0]